<div class="card mb-5">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-2 has-text-centered">Welcome, {{profile.name}}!</p>
        <p class="subtitle is-5 has-text-centered">{{profile.email}}</p>
      </div>
    </div>
    <div class="content has-text-centered">
      Age: {{profile.age}}
      <br>
      Weight: {{profile.weight}} Lbs
      <br>
      Height: {{profile.height}}
      <br>
    </div>
  </div>
</div>

<div class="field">
  <p class="control has-text-centered">
      <a href="/workout">
        <button class="button is-primary is-outlined" id="workout-btn">
          Get Workout
        </button>
      </a>
    </p>
</div>