{{#each sets as |set| }}
<form class="box">
    <div class="field">
        <label class="label has-text-centered is-2">{{set.name}}</label>
        <div class="control">
            <p>Description: {{set.description}}</p>
        </div>
        <div class="control">
            <p>Intervals: {{set.has_interval}}</p>
        </div>
        <div class="control">
            <p>Reps: {{set.has_repetitions}}</p>
        </div>
        <div class="control">
            <p>Intensity: {{set.intensity}}</p>
        </div>
        <div class="control">
            <p>Equipment Required: {{set.equipment_required}}</p>
        </div>
        <div class="control has-text-centered">
            <p>Numbers of reps and intervals is decided by user's workout preference or workout method.</p>
        </div>
    </div>
</form>

{{/each}}
