<form class="box">
    <div class="field">
        <label class="label has-text-centered is-2">{{name}}</label>
        <div class="control">
            <p>Description: {{description}}</p>
        </div>
        <div class="control">
            <p>Intervals: {{has_interval}}</p>
        </div>
        <div class="control">
            <p>Reps: {{has_repetitions}}</p>
        </div>
        <div class="control">
            <p>Intensity: {{intensity}}</p>
        </div>
        <div class="control">
            <p>Equipment Required: {{equipment_required}}</p>
        </div>
        <div class="control has-text-centered">
            <p>Numbers of reps and intervals is decided by user's workout preference or workout method.</p>
        </div>
    </div>

</form>
